<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="addNewOne" parameterType="hashmap">
		insert into member values(#{id}, #{email}, #{pass}, 0)
	</insert>
	
	<select id="checkId" resultType="hashmap">
		select member.id, member.email, member.pass, member.lv, COUNT(*) as count from member where id = #{id} group by member.id, member.pass, member.email, member.lv
	</select>
</mapper>